{% if page.previous_in_category or page.next_in_category %}
<nav class="pager">
  {% if page.next_in_category %}
  <a href="{{ site.baseurl }}{{ page.next_in_category.url }}" title="{{ page.next_in_category.title | markdownify | strip_html }}">poprzedni</a>
  {% else %}
  <a href="#" class="disabled">poprzedni</a>
  {% endif %}
  {% if page.previous_in_category %}
  <a href="{{ site.baseurl }}{{ page.previous_in_category.url }}" title="{{ page.previous_in_category.title | markdownify | strip_html }}">następny</a>
  {% else %}
  <a href="#" class="disabled">następny</a>
  {% endif %}
</nav>
{% endif %}
