<ul class="social-links">
  <li>
    <a class="social-btn social-github" href="http://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-fw fa-github"></i>
    </a>
  </li>
  <li>
    <a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-fw fa-twitter"></i>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://www.researchgate.net/profile/{{ site.researchgate }}" target="_blank" rel="noopener noreferrer">
      <i class="ai fa-fw ai-researchgate"></i>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://jagiellonian.academia.edu/{{ site.academia }}" target="_blank" rel="noopener noreferrer">
      <i class="ai fa-fw ai-academia"></i>
    </a>
  </li>
</ul>
