<ul class="social-links">
    <li>
      <a class="social-btn social-github" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a class="social-btn" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </li>
    <li>
        <a class="social-btn" href="https://scholar.google.com/citations?user={{ site.gscholar }}" target="_blank" rel="noopener noreferrer">
          <i class="ai ai-google-scholar ai-2x"></i>
        </a>
    </li>
    <li>
        <a class="social-btn" href="https://orcid.org/{{ site.orcid }}" target="_blank" rel="noopener noreferrer">
            <i class="ai ai-orcid ai-2x"></i>
        </a>
    </li>
  </ul>