@media (max-width: 1400px) {
  #left{
    width:45%;
  }
  
  #right {
    display: block;
    overflow-y: auto;
    width: 55%;
  
    .about-info{
      width: 100%;
      padding-top: 2rem;
      h1 {
        font-size: 2.2vw;
        span {
          font-size: 1.8vw;
        }
      }
      #sub-title {
        font-size: 2.25rem;
      }
    }
  }
  
  #projects,
  #page.apps,
  #post,
  #post-list {
    #right .content {
      width: 90%;
      // padding: 6rem 1rem 1rem;
    }
  }
}

@media (max-width: 1000px) {
  html,
  body {
    overflow: auto;
  }
  
  #left,
  #right {
    display: table !important;
    float: none;
    overflow-y: inherit;
    width: 100% !important;
    
    .about-info {
      width: 90%;
      
    }
  }
  
  #right {
    .content{
      h2 {
        font-size: 3vw !important;
      }
    }
    .about-info{
      h1 {
        font-size: 3.5vw;
        span {
          font-size: 3.1vw;
        }
      }
    }
  }

  #projects #left .content {
    // padding: 6rem 1rem 1rem;
  }
  
  .post-title-section .section-title {
    font-size: 4.5vw !important;
  }
  #left .content .section-title {
    font-size: 7vw !important;
  }
}

@media (max-width: 650px) {
  #right {
    .about-info {
      width: 100%;
    }
    h1 {
      font-size: 4.5vw !important;
      span {
        font-size: 4.1vw !important;
      }
    }
  }
  
  #post, 
  #post-list {
    #right .content{
      .logo {
        margin-top: 5rem;
      }
      width: 100%;
      padding: 2rem;
      h2 {
        font-size: 3vw;
        line-height: 2.5rem;
        a {
          width: 70%;
          span {
          font-size: 4vw;
          }
        }
      }
      
      article span {
        font-size: 1.3rem;
      }
      
      #sub-title {
        font-size: 2.25rem;
      }
    }
  }
  
  .post-title-section h3 {
    font-size: 3.5vw;
  }
}

/* < = mobile */
@media (max-width: 450px) {
  #left h2 {
    font-size: 1.8rem;
  }
  
  ul.social-links li {
    margin-right: 0;
  }
  
  .about-info {
    p {
    font-size: 1.3rem;
    }
    h3, h4 {
      font-size: 1.7rem;
    }
  }
  #home #right .content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  
  footer {
    font-size: 1.3rem;
  }
  
  #post,
  #post-list {
    #right .content{
      width: 100%;
      padding: 2rem;
      h2 {
        line-height: 1.5rem;
      }            
    }
  }
}
