<!DOCTYPE html>
<html lang="{{ site.lang | default: "pl-PL" }}">
  
  {% include head.html %}

  <body id="home">
    <section id="left-side">
      <a href="/" class="logo"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}"></a>
      
      <h3>
        <strong>MIND</strong> THE BRAIN
      </h3>
      
      <h5>
        {{ site.description }}
      </h5>

      {% include social-links.html %}
      <canvas></canvas>
    </section>

    <section id="right-side">

      {% include navigation.html %}
      
      <div class="landing container">
        <figure class="text-end">
          <blockquote class="blockquote">
            <p>
              <span class="first-line">Opłaca się mieć otwarty umysł,</span><br>
              <span class="second-line">ale nie na tyle, żeby wypadł mózg.</span>
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Carl Sagan
          </figcaption>
        </figure>

        {{ content }}

      </div>
      
      {% include footer.html %}

    </section>
    
  </body>

  {% include scripts.html %}

</html>
