<!DOCTYPE html>
<html lang="{{ site.lang | default: "pl-PL" }}">
  
  {% include head.html %}

  <body id="post-list">
    <section id="left-side">
      {% assign wordCount = 0 %}
      {% for post in site.categories.pl %}
        {% assign number_post = site.categories.pl | size %}
        {% if number_post  == 1 %}
        {% assign number_post = 0 %}
        {% elsif number_post  < 21 %}
        {% assign number_post = site.categories.pl | size %}
        {% elsif number_post  > 20 %}
        {% assign number_post = site.categories.pl | size | modulo:10 %}
        {% endif %}
        {% assign number_tag = site.tags | size | modulo:10 %}
        {% assign wordCount = post.content | number_of_words | plus: wordCount %}
      {% endfor %}

      <a href="/" class="logo"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}"></a>
      
      {% if page.placeholder %}
      {% else %}
      <section id="post-list-meta">
        {% if number_post  == 0 %}
          <p>{{ site.categories.pl | size }} Post</p>
        {% elsif number_post == 1 %}
          <p>{{ site.categories.pl | size }} Postów</p>
        {% elsif number_post < 5 %}
          <p>{{ site.categories.pl | size }} Posty</p>
        {% elsif number_post > 4 %}
          <p>{{ site.categories.pl | size }} Postów</p>
        {% endif %}

        <p>{{ wordCount }} Słów</p>

        {% if number_tag < 5 %}
          <p>{{ site.tags | size }} Tagi</p>
        {% elsif number_tag > 4 %}
          <p>{{ site.tags | size }} Tagów</p>
        {% endif %}
        {% endif %}

        <h1 class="section-title">{{ page.title }}/</h1>
      </section>
    </section>

    <section id="right-side">

      {% include navigation.html %}

      <div class="posts-list container">
        {{ content }}
      </div>
      
      {% include footer.html %}

    </section>    
  </body>

  {% include scripts.html %}

</html>
